## Abschlussprojekt: Analyse der Kundenabwanderung

<p><strong>Szenario:</strong> Du arbeitest für den Telekommunikationsanbieter Teleconfia. Dieser probiert gerade, in den USA Fuß zu fassen. Als erstes Probegebiet wurde Florida ausgewählt. Neue Kunden konnten ein Jahr lang zu sehr günstigen Konditionen Handys im Teleconfia-Netz nutzen. Nicht alle Kunden sind ein Jahr lang geblieben. Viele sind abgewandert. Dieser Kundenabwanderung, auch <em>churn</em> genannt, soll durch zwei Marketingkampagnen entgegengewirkt werden.</p>
<p>Die erste Marketingkampagne zielt auf Stadtgebiete, in denen Plakate geklebt werden sollen. Ein Stadtgebiet ist eine kleine Stadt bzw. ein Stadtteil einer Großstadt. Die vier Stadtgebiete mit der höchsten Kundenabwanderung sollen ausgewählt werden, um in ihnen die Marketingkampagne zu starten. Die zweite Marketingkampagne zielt auf individuelle Kunden. Jene Kunden, die wahrscheinlich Teleconfia verlassen werden, sollen angerufen werden, um mit ihnen Sonderkonditionen abzustimmen.</p>
<p>Ziel soll es sein, die Stadtgebiete bzw. diejenigen Kunden zu identifizieren, für welche Marketingkampagnen lanciert werden sollen. Hierbei musst du herausfinden, welche Datenreihen für die Entscheidung herangezogen werden sollten. Auch sollst du herausfinden, ob es bestimmte Faktoren gibt, ab denen die Kunden kontaktiert werden sollten. Mit Hilfe einer logistischen Regression soll zum Abschluss bestimmt werden, ab welchem kritischen Wert ein Kunde wahrscheinlicher abwandern wird als nicht abzuwandern. </p>
<p>Deine Entscheidungen und Empfehlungen sollst du stichhaltig begründen und in Form von Visualisierungen veranschaulichen.</p>

<p>Die Daten werden dir in einer Datenbank namens <em>telco_churn.db</em> zur Verfügung gestellt. Das folgende Datenwörterbuch erklärt die Struktur.</p>
<p>Tabelle <code>churn_data</code>:</p>
<table>
<thead>
<tr>
<th>Spaltennummer</th>
<th align="center">Spaltenname</th>
<th align="center">Datenniveau</th>
<th align="right">Beschreibung</th>
</tr>
</thead>
<tbody><tr>
<td>0</td>
<td align="center"><code>account_length</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl der Tage, seit denen der Kunde ein Konto beim Telekommunikationsanbieter hat</td>
</tr>
<tr>
<td>1</td>
<td align="center"><code>international_plan</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Vertrag mit Sonderkonditionen für günstigere Anrufe ins Ausland</td>
</tr>
<tr>
<td>2</td>
<td align="center"><code>voice_mail_plan</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Vertrag mit Sonderkonditionen für mehr Speicher in der Mailbox</td>
</tr>
<tr>
<td>3</td>
<td align="center"><code>number_vmail_messages</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl der Nachrichten in der Mailbox</td>
</tr>
<tr>
<td>4</td>
<td align="center"><code>total_day_minutes</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Dauer (Minuten) aller Anrufe von 8 Uhr bis 16 Uhr</td>
</tr>
<tr>
<td>5</td>
<td align="center"><code>total_day_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl aller Anrufe von 8 Uhr bis 16 Uhr</td>
</tr>
<tr>
<td>6</td>
<td align="center"><code>total_day_charge</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Berechnete Kosten für alle Anrufe von 8 Uhr bis 16 Uhr</td>
</tr>
<tr>
<td>7</td>
<td align="center"><code>total_eve_minutes</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Dauer (Minuten) aller Anrufe von 16 Uhr bis 22 Uhr</td>
</tr>
<tr>
<td>8</td>
<td align="center"><code>total_eve_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl aller Anrufe von 16 Uhr bis 22 Uhr</td>
</tr>
<tr>
<td>9</td>
<td align="center"><code>total_eve_charge</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Berechnete Kosten für alle Anrufe von 16 Uhr bis 22 Uhr</td>
</tr>
<tr>
<td>10</td>
<td align="center"><code>total_night_minutes</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Dauer (Minuten) aller Anrufe von 22 Uhr bis 8 Uhr</td>
</tr>
<tr>
<td>11</td>
<td align="center"><code>total_night_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl aller Anrufe von 22 Uhr bis 8 Uhr</td>
</tr>
<tr>
<td>12</td>
<td align="center"><code>total_night_charge</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Berechnete Kosten für alle Anrufe von 22 Uhr bis 8 Uhr</td>
</tr>
<tr>
<td>13</td>
<td align="center"><code>customer_service_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl der Anrufe beim Kundenservice, z. B. wegen technischer Störungen</td>
</tr>
<tr>
<td>14</td>
<td align="center"><code>churn</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Abwanderung des Kunden (0=nein, 1=ja)</td>
</tr>
<tr>
<td>15</td>
<td align="center"><code>local_area_code</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Ortsvorwahl</td>
</tr>
<tr>
<td>16</td>
<td align="center"><code>phone_num</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Telefonnummer des Kunden ohne Ortsvorwahl</td>
</tr>
</tbody></table>
<p>Tabelle <code>cities</code>:</p>
<table>
<thead>
<tr>
<th>Spaltennummer</th>
<th align="center">Spaltenname</th>
<th align="center">Datenniveau</th>
<th align="right">Beschreibung</th>
</tr>
</thead>
<tbody><tr>
<td>0</td>
<td align="center"><code>city</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Stadtgebiete</td>
</tr>
<tr>
<td>1</td>
<td align="center"><code>area_code</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Ortsvorwahl</td>
</tr>
</tbody></table>

### 1)Einlesen von Daten <br>
#### -> 1 Imports and converting SQL database into a pandas Dataframe
#### no access to the used telco_churn.db so this part will be commented out

In [1]:
import sqlalchemy as sa
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
%matplotlib inline
import matplotlib.patches as mpatches

plt.style.use('ggplot')

In [2]:
engine = sa.create_engine('sqlite:///telco_churn.db')
connection = engine.connect()

inspector = sa.inspect(engine)
table_names = inspector.get_table_names()

In [ ]:
# print(table_names)

['churn_data', 'cities']

In [4]:
# #Overview of churn_data table
# query_string = '''SELECT * 
# FROM churn_data
# LIMIT 10
# '''
# df_churn = pd.read_sql(query_string, connection)
# display(df_churn)

# #Overview of cities table
# query_string = '''SELECT * 
# FROM cities
# LIMIT 10
# '''

# df_cities = pd.read_sql(query_string, connection)
# display(df_cities)

<div class="lm-Widget p-Widget lm-Panel p-Panel jp-OutputArea-child"><div class="lm-Widget p-Widget jp-OutputPrompt jp-OutputArea-prompt"></div><div class="lm-Widget p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output" data-mime-type="text/html"><div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align:right">
      <th></th>
      <th>account_length</th>
      <th>international_plan</th>
      <th>voice_mail_plan</th>
      <th>number_vmail_messages</th>
      <th>total_day_minutes</th>
      <th>total_day_calls</th>
      <th>total_day_charge</th>
      <th>total_eve_minutes</th>
      <th>total_eve_calls</th>
      <th>total_eve_charge</th>
      <th>total_night_minutes</th>
      <th>total_night_calls</th>
      <th>total_night_charge</th>
      <th>customer_service_calls</th>
      <th>churn</th>
      <th>local_area_code</th>
      <th>phone_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>131.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>187.9</td>
      <td>110.0</td>
      <td>31.94</td>
      <td>200.5</td>
      <td>101.0</td>
      <td>17.04</td>
      <td>202.6</td>
      <td>125.0</td>
      <td>9.12</td>
      <td>2.0</td>
      <td>0</td>
      <td>850.0</td>
      <td>1473.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>63.0</td>
      <td>yes</td>
      <td>yes</td>
      <td>21.0</td>
      <td>151.5</td>
      <td>99.0</td>
      <td>25.76</td>
      <td>147.8</td>
      <td>89.0</td>
      <td>12.56</td>
      <td>210.4</td>
      <td>114.0</td>
      <td>9.47</td>
      <td>1.0</td>
      <td>0</td>
      <td>786.0</td>
      <td>8029.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>303.2</td>
      <td>133.0</td>
      <td>51.54</td>
      <td>170.5</td>
      <td>86.0</td>
      <td>14.49</td>
      <td>227.6</td>
      <td>80.0</td>
      <td>10.24</td>
      <td>0.0</td>
      <td>1</td>
      <td>904.0</td>
      <td>7468.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>129.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>159.1</td>
      <td>100.0</td>
      <td>27.05</td>
      <td>202.5</td>
      <td>90.0</td>
      <td>17.21</td>
      <td>233.1</td>
      <td>96.0</td>
      <td>10.49</td>
      <td>2.0</td>
      <td>0</td>
      <td>305.0</td>
      <td>4979.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>120.0</td>
      <td>no</td>
      <td>yes</td>
      <td>28.0</td>
      <td>215.8</td>
      <td>123.0</td>
      <td>36.69</td>
      <td>285.2</td>
      <td>76.0</td>
      <td>24.24</td>
      <td>192.1</td>
      <td>78.0</td>
      <td>8.64</td>
      <td>1.0</td>
      <td>0</td>
      <td>239.0</td>
      <td>9620.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>108.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>210.7</td>
      <td>112.0</td>
      <td>35.82</td>
      <td>238.7</td>
      <td>73.0</td>
      <td>20.29</td>
      <td>253.6</td>
      <td>90.0</td>
      <td>11.41</td>
      <td>3.0</td>
      <td>0</td>
      <td>786.0</td>
      <td>1688.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>109.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>180.0</td>
      <td>100.0</td>
      <td>30.60</td>
      <td>229.0</td>
      <td>103.0</td>
      <td>19.47</td>
      <td>139.4</td>
      <td>105.0</td>
      <td>6.27</td>
      <td>3.0</td>
      <td>0</td>
      <td>305.0</td>
      <td>2653.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>107.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>189.7</td>
      <td>76.0</td>
      <td>32.25</td>
      <td>156.1</td>
      <td>65.0</td>
      <td>13.27</td>
      <td>244.0</td>
      <td>91.0</td>
      <td>10.98</td>
      <td>5.0</td>
      <td>0</td>
      <td>407.0</td>
      <td>1399.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>74.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>282.5</td>
      <td>114.0</td>
      <td>48.03</td>
      <td>219.9</td>
      <td>48.0</td>
      <td>18.69</td>
      <td>170.0</td>
      <td>115.0</td>
      <td>7.65</td>
      <td>1.0</td>
      <td>1</td>
      <td>239.0</td>
      <td>6837.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>28.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>168.2</td>
      <td>87.0</td>
      <td>28.59</td>
      <td>161.7</td>
      <td>92.0</td>
      <td>13.74</td>
      <td>192.4</td>
      <td>112.0</td>
      <td>8.66</td>
      <td>3.0</td>
      <td>0</td>
      <td>904.0</td>
      <td>5223.0</td>
    </tr>
  </tbody>
</table>
</div></div></div><div class="lm-Widget p-Widget lm-Panel p-Panel jp-OutputArea-child"><div class="lm-Widget p-Widget jp-OutputPrompt jp-OutputArea-prompt"></div><div class="lm-Widget p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output" data-mime-type="text/html"><div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align:right">
      <th></th>
      <th>city</th>
      <th>area_code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Orlando1</td>
      <td>321</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Orlando2</td>
      <td>407</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Miami1</td>
      <td>305</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Miami2</td>
      <td>786</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jacksonville</td>
      <td>904</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Tampa</td>
      <td>813</td>
    </tr>
    <tr>
      <th>6</th>
      <td>West Palm Beach</td>
      <td>561</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Daytona Beach</td>
      <td>386</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Clearwater</td>
      <td>727</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Sarasota</td>
      <td>941</td>
    </tr>
  </tbody>
</table>
</div></div></div>

In [ ]:
# # join the cities table into the churn_data without duplicate area_code
# query_string = '''SELECT churn_data.*, cities.city
# FROM churn_data
# JOIN cities
# ON churn_data.local_area_code = cities.area_code'''

# # read sql data into dataframe and closes the connection
# df = pd.read_sql(query_string, connection)
# connection.close()

# # check if everything worked
# display(df.head(10))

<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align:right">
      <th></th>
      <th>account_length</th>
      <th>international_plan</th>
      <th>voice_mail_plan</th>
      <th>number_vmail_messages</th>
      <th>total_day_minutes</th>
      <th>total_day_calls</th>
      <th>total_day_charge</th>
      <th>total_eve_minutes</th>
      <th>total_eve_calls</th>
      <th>total_eve_charge</th>
      <th>total_night_minutes</th>
      <th>total_night_calls</th>
      <th>total_night_charge</th>
      <th>customer_service_calls</th>
      <th>churn</th>
      <th>local_area_code</th>
      <th>phone_num</th>
      <th>city</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>131.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>187.9</td>
      <td>110.0</td>
      <td>31.94</td>
      <td>200.5</td>
      <td>101.0</td>
      <td>17.04</td>
      <td>202.6</td>
      <td>125.0</td>
      <td>9.12</td>
      <td>2.0</td>
      <td>0</td>
      <td>850.0</td>
      <td>1473.0</td>
      <td>Tallahassee</td>
    </tr>
    <tr>
      <th>1</th>
      <td>63.0</td>
      <td>yes</td>
      <td>yes</td>
      <td>21.0</td>
      <td>151.5</td>
      <td>99.0</td>
      <td>25.76</td>
      <td>147.8</td>
      <td>89.0</td>
      <td>12.56</td>
      <td>210.4</td>
      <td>114.0</td>
      <td>9.47</td>
      <td>1.0</td>
      <td>0</td>
      <td>786.0</td>
      <td>8029.0</td>
      <td>Miami2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>303.2</td>
      <td>133.0</td>
      <td>51.54</td>
      <td>170.5</td>
      <td>86.0</td>
      <td>14.49</td>
      <td>227.6</td>
      <td>80.0</td>
      <td>10.24</td>
      <td>0.0</td>
      <td>1</td>
      <td>904.0</td>
      <td>7468.0</td>
      <td>Jacksonville</td>
    </tr>
    <tr>
      <th>3</th>
      <td>129.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>159.1</td>
      <td>100.0</td>
      <td>27.05</td>
      <td>202.5</td>
      <td>90.0</td>
      <td>17.21</td>
      <td>233.1</td>
      <td>96.0</td>
      <td>10.49</td>
      <td>2.0</td>
      <td>0</td>
      <td>305.0</td>
      <td>4979.0</td>
      <td>Miami1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>120.0</td>
      <td>no</td>
      <td>yes</td>
      <td>28.0</td>
      <td>215.8</td>
      <td>123.0</td>
      <td>36.69</td>
      <td>285.2</td>
      <td>76.0</td>
      <td>24.24</td>
      <td>192.1</td>
      <td>78.0</td>
      <td>8.64</td>
      <td>1.0</td>
      <td>0</td>
      <td>239.0</td>
      <td>9620.0</td>
      <td>Cape Coral</td>
    </tr>
    <tr>
      <th>5</th>
      <td>108.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>210.7</td>
      <td>112.0</td>
      <td>35.82</td>
      <td>238.7</td>
      <td>73.0</td>
      <td>20.29</td>
      <td>253.6</td>
      <td>90.0</td>
      <td>11.41</td>
      <td>3.0</td>
      <td>0</td>
      <td>786.0</td>
      <td>1688.0</td>
      <td>Miami2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>109.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>180.0</td>
      <td>100.0</td>
      <td>30.60</td>
      <td>229.0</td>
      <td>103.0</td>
      <td>19.47</td>
      <td>139.4</td>
      <td>105.0</td>
      <td>6.27</td>
      <td>3.0</td>
      <td>0</td>
      <td>305.0</td>
      <td>2653.0</td>
      <td>Miami1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>107.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>189.7</td>
      <td>76.0</td>
      <td>32.25</td>
      <td>156.1</td>
      <td>65.0</td>
      <td>13.27</td>
      <td>244.0</td>
      <td>91.0</td>
      <td>10.98</td>
      <td>5.0</td>
      <td>0</td>
      <td>407.0</td>
      <td>1399.0</td>
      <td>Orlando2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>74.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>282.5</td>
      <td>114.0</td>
      <td>48.03</td>
      <td>219.9</td>
      <td>48.0</td>
      <td>18.69</td>
      <td>170.0</td>
      <td>115.0</td>
      <td>7.65</td>
      <td>1.0</td>
      <td>1</td>
      <td>239.0</td>
      <td>6837.0</td>
      <td>Cape Coral</td>
    </tr>
    <tr>
      <th>9</th>
      <td>28.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>168.2</td>
      <td>87.0</td>
      <td>28.59</td>
      <td>161.7</td>
      <td>92.0</td>
      <td>13.74</td>
      <td>192.4</td>
      <td>112.0</td>
      <td>8.66</td>
      <td>3.0</td>
      <td>0</td>
      <td>904.0</td>
      <td>5223.0</td>
      <td>Jacksonville</td>
    </tr>
  </tbody>
</table>
</div>