## Abschlussprojekt: Analyse der Kundenabwanderung

<p><strong>Szenario:</strong> Du arbeitest für den Telekommunikationsanbieter Teleconfia. Dieser probiert gerade, in den USA Fuß zu fassen. Als erstes Probegebiet wurde Florida ausgewählt. Neue Kunden konnten ein Jahr lang zu sehr günstigen Konditionen Handys im Teleconfia-Netz nutzen. Nicht alle Kunden sind ein Jahr lang geblieben. Viele sind abgewandert. Dieser Kundenabwanderung, auch <em>churn</em> genannt, soll durch zwei Marketingkampagnen entgegengewirkt werden.</p>
<p>Die erste Marketingkampagne zielt auf Stadtgebiete, in denen Plakate geklebt werden sollen. Ein Stadtgebiet ist eine kleine Stadt bzw. ein Stadtteil einer Großstadt. Die vier Stadtgebiete mit der höchsten Kundenabwanderung sollen ausgewählt werden, um in ihnen die Marketingkampagne zu starten. Die zweite Marketingkampagne zielt auf individuelle Kunden. Jene Kunden, die wahrscheinlich Teleconfia verlassen werden, sollen angerufen werden, um mit ihnen Sonderkonditionen abzustimmen.</p>
<p>Ziel soll es sein, die Stadtgebiete bzw. diejenigen Kunden zu identifizieren, für welche Marketingkampagnen lanciert werden sollen. Hierbei musst du herausfinden, welche Datenreihen für die Entscheidung herangezogen werden sollten. Auch sollst du herausfinden, ob es bestimmte Faktoren gibt, ab denen die Kunden kontaktiert werden sollten. Mit Hilfe einer logistischen Regression soll zum Abschluss bestimmt werden, ab welchem kritischen Wert ein Kunde wahrscheinlicher abwandern wird als nicht abzuwandern. </p>
<p>Deine Entscheidungen und Empfehlungen sollst du stichhaltig begründen und in Form von Visualisierungen veranschaulichen.</p>

<p>Die Daten werden dir in einer Datenbank namens <em>telco_churn.db</em> zur Verfügung gestellt. Das folgende Datenwörterbuch erklärt die Struktur.</p>
<p>Tabelle <code>churn_data</code>:</p>
<table>
<thead>
<tr>
<th>Spaltennummer</th>
<th align="center">Spaltenname</th>
<th align="center">Datenniveau</th>
<th align="right">Beschreibung</th>
</tr>
</thead>
<tbody><tr>
<td>0</td>
<td align="center"><code>account_length</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl der Tage, seit denen der Kunde ein Konto beim Telekommunikationsanbieter hat</td>
</tr>
<tr>
<td>1</td>
<td align="center"><code>international_plan</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Vertrag mit Sonderkonditionen für günstigere Anrufe ins Ausland</td>
</tr>
<tr>
<td>2</td>
<td align="center"><code>voice_mail_plan</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Vertrag mit Sonderkonditionen für mehr Speicher in der Mailbox</td>
</tr>
<tr>
<td>3</td>
<td align="center"><code>number_vmail_messages</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl der Nachrichten in der Mailbox</td>
</tr>
<tr>
<td>4</td>
<td align="center"><code>total_day_minutes</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Dauer (Minuten) aller Anrufe von 8 Uhr bis 16 Uhr</td>
</tr>
<tr>
<td>5</td>
<td align="center"><code>total_day_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl aller Anrufe von 8 Uhr bis 16 Uhr</td>
</tr>
<tr>
<td>6</td>
<td align="center"><code>total_day_charge</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Berechnete Kosten für alle Anrufe von 8 Uhr bis 16 Uhr</td>
</tr>
<tr>
<td>7</td>
<td align="center"><code>total_eve_minutes</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Dauer (Minuten) aller Anrufe von 16 Uhr bis 22 Uhr</td>
</tr>
<tr>
<td>8</td>
<td align="center"><code>total_eve_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl aller Anrufe von 16 Uhr bis 22 Uhr</td>
</tr>
<tr>
<td>9</td>
<td align="center"><code>total_eve_charge</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Berechnete Kosten für alle Anrufe von 16 Uhr bis 22 Uhr</td>
</tr>
<tr>
<td>10</td>
<td align="center"><code>total_night_minutes</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Dauer (Minuten) aller Anrufe von 22 Uhr bis 8 Uhr</td>
</tr>
<tr>
<td>11</td>
<td align="center"><code>total_night_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl aller Anrufe von 22 Uhr bis 8 Uhr</td>
</tr>
<tr>
<td>12</td>
<td align="center"><code>total_night_charge</code></td>
<td align="center">numerisch (<code>float</code>)</td>
<td align="right">Berechnete Kosten für alle Anrufe von 22 Uhr bis 8 Uhr</td>
</tr>
<tr>
<td>13</td>
<td align="center"><code>customer_service_calls</code></td>
<td align="center">numerisch (<code>int</code>)</td>
<td align="right">Anzahl der Anrufe beim Kundenservice, z. B. wegen technischer Störungen</td>
</tr>
<tr>
<td>14</td>
<td align="center"><code>churn</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Abwanderung des Kunden (0=nein, 1=ja)</td>
</tr>
<tr>
<td>15</td>
<td align="center"><code>local_area_code</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Ortsvorwahl</td>
</tr>
<tr>
<td>16</td>
<td align="center"><code>phone_num</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Telefonnummer des Kunden ohne Ortsvorwahl</td>
</tr>
</tbody></table>
<p>Tabelle <code>cities</code>:</p>
<table>
<thead>
<tr>
<th>Spaltennummer</th>
<th align="center">Spaltenname</th>
<th align="center">Datenniveau</th>
<th align="right">Beschreibung</th>
</tr>
</thead>
<tbody><tr>
<td>0</td>
<td align="center"><code>city</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Stadtgebiete</td>
</tr>
<tr>
<td>1</td>
<td align="center"><code>area_code</code></td>
<td align="center">kategorisch (nominal)</td>
<td align="right">Ortsvorwahl</td>
</tr>
</tbody></table>

### 1)Einlesen von Daten <br>
#### -> 1 Imports and converting SQL database into a pandas Dataframe
#### no access to the used telco_churn.db so this part will be commented out

In [1]:
import sqlalchemy as sa
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
%matplotlib inline
import matplotlib.patches as mpatches

plt.style.use('ggplot')

In [2]:
engine = sa.create_engine('sqlite:///telco_churn.db')
connection = engine.connect()

inspector = sa.inspect(engine)
table_names = inspector.get_table_names()

In [ ]:
# print(table_names)

['churn_data', 'cities']

In [4]:
# #Overview of churn_data table
# query_string = '''SELECT * 
# FROM churn_data
# LIMIT 10
# '''
# df_churn = pd.read_sql(query_string, connection)
# display(df_churn)

# #Overview of cities table
# query_string = '''SELECT * 
# FROM cities
# LIMIT 10
# '''

# df_cities = pd.read_sql(query_string, connection)
# display(df_cities)

<div class="lm-Widget p-Widget lm-Panel p-Panel jp-OutputArea-child"><div class="lm-Widget p-Widget jp-OutputPrompt jp-OutputArea-prompt"></div><div class="lm-Widget p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output" data-mime-type="text/html"><div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align:right">
      <th></th>
      <th>account_length</th>
      <th>international_plan</th>
      <th>voice_mail_plan</th>
      <th>number_vmail_messages</th>
      <th>total_day_minutes</th>
      <th>total_day_calls</th>
      <th>total_day_charge</th>
      <th>total_eve_minutes</th>
      <th>total_eve_calls</th>
      <th>total_eve_charge</th>
      <th>total_night_minutes</th>
      <th>total_night_calls</th>
      <th>total_night_charge</th>
      <th>customer_service_calls</th>
      <th>churn</th>
      <th>local_area_code</th>
      <th>phone_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>131.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>187.9</td>
      <td>110.0</td>
      <td>31.94</td>
      <td>200.5</td>
      <td>101.0</td>
      <td>17.04</td>
      <td>202.6</td>
      <td>125.0</td>
      <td>9.12</td>
      <td>2.0</td>
      <td>0</td>
      <td>850.0</td>
      <td>1473.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>63.0</td>
      <td>yes</td>
      <td>yes</td>
      <td>21.0</td>
      <td>151.5</td>
      <td>99.0</td>
      <td>25.76</td>
      <td>147.8</td>
      <td>89.0</td>
      <td>12.56</td>
      <td>210.4</td>
      <td>114.0</td>
      <td>9.47</td>
      <td>1.0</td>
      <td>0</td>
      <td>786.0</td>
      <td>8029.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>303.2</td>
      <td>133.0</td>
      <td>51.54</td>
      <td>170.5</td>
      <td>86.0</td>
      <td>14.49</td>
      <td>227.6</td>
      <td>80.0</td>
      <td>10.24</td>
      <td>0.0</td>
      <td>1</td>
      <td>904.0</td>
      <td>7468.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>129.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>159.1</td>
      <td>100.0</td>
      <td>27.05</td>
      <td>202.5</td>
      <td>90.0</td>
      <td>17.21</td>
      <td>233.1</td>
      <td>96.0</td>
      <td>10.49</td>
      <td>2.0</td>
      <td>0</td>
      <td>305.0</td>
      <td>4979.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>120.0</td>
      <td>no</td>
      <td>yes</td>
      <td>28.0</td>
      <td>215.8</td>
      <td>123.0</td>
      <td>36.69</td>
      <td>285.2</td>
      <td>76.0</td>
      <td>24.24</td>
      <td>192.1</td>
      <td>78.0</td>
      <td>8.64</td>
      <td>1.0</td>
      <td>0</td>
      <td>239.0</td>
      <td>9620.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>108.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>210.7</td>
      <td>112.0</td>
      <td>35.82</td>
      <td>238.7</td>
      <td>73.0</td>
      <td>20.29</td>
      <td>253.6</td>
      <td>90.0</td>
      <td>11.41</td>
      <td>3.0</td>
      <td>0</td>
      <td>786.0</td>
      <td>1688.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>109.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>180.0</td>
      <td>100.0</td>
      <td>30.60</td>
      <td>229.0</td>
      <td>103.0</td>
      <td>19.47</td>
      <td>139.4</td>
      <td>105.0</td>
      <td>6.27</td>
      <td>3.0</td>
      <td>0</td>
      <td>305.0</td>
      <td>2653.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>107.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>189.7</td>
      <td>76.0</td>
      <td>32.25</td>
      <td>156.1</td>
      <td>65.0</td>
      <td>13.27</td>
      <td>244.0</td>
      <td>91.0</td>
      <td>10.98</td>
      <td>5.0</td>
      <td>0</td>
      <td>407.0</td>
      <td>1399.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>74.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>282.5</td>
      <td>114.0</td>
      <td>48.03</td>
      <td>219.9</td>
      <td>48.0</td>
      <td>18.69</td>
      <td>170.0</td>
      <td>115.0</td>
      <td>7.65</td>
      <td>1.0</td>
      <td>1</td>
      <td>239.0</td>
      <td>6837.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>28.0</td>
      <td>no</td>
      <td>no</td>
      <td>0.0</td>
      <td>168.2</td>
      <td>87.0</td>
      <td>28.59</td>
      <td>161.7</td>
      <td>92.0</td>
      <td>13.74</td>
      <td>192.4</td>
      <td>112.0</td>
      <td>8.66</td>
      <td>3.0</td>
      <td>0</td>
      <td>904.0</td>
      <td>5223.0</td>
    </tr>
  </tbody>
</table>
</div></div></div><div class="lm-Widget p-Widget lm-Panel p-Panel jp-OutputArea-child"><div class="lm-Widget p-Widget jp-OutputPrompt jp-OutputArea-prompt"></div><div class="lm-Widget p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output" data-mime-type="text/html"><div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align:right">
      <th></th>
      <th>city</th>
      <th>area_code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Orlando1</td>
      <td>321</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Orlando2</td>
      <td>407</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Miami1</td>
      <td>305</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Miami2</td>
      <td>786</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jacksonville</td>
      <td>904</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Tampa</td>
      <td>813</td>
    </tr>
    <tr>
      <th>6</th>
      <td>West Palm Beach</td>
      <td>561</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Daytona Beach</td>
      <td>386</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Clearwater</td>
      <td>727</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Sarasota</td>
      <td>941</td>
    </tr>
  </tbody>
</table>
</div></div></div>

In [ ]:
# # join the cities table into the churn_data without duplicate area_code
# query_string = '''SELECT churn_data.*, cities.city
# FROM churn_data
# JOIN cities
# ON churn_data.local_area_code = cities.area_code'''

# # read sql data into dataframe and closes the connection
# df = pd.read_sql(query_string, connection)
# connection.close()

# # check if everything worked
# display(df.head(10))

In [15]:
# i will use the data.csv because i don't have access to the telco_churn.db

df = pd.read_csv('data.csv')

display(df.head(10))

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,customer_service_calls,churn,local_area_code,phone_num,city
0,131.0,no,no,0.0,187.9,110.0,31.94,200.5,101.0,17.04,202.6,125.0,9.12,2.0,0,850.0,1473.0,Tallahassee
1,63.0,yes,yes,21.0,151.5,99.0,25.76,147.8,89.0,12.56,210.4,114.0,9.47,1.0,0,786.0,8029.0,Miami2
2,13.0,no,no,0.0,303.2,133.0,51.54,170.5,86.0,14.49,227.6,80.0,10.24,0.0,1,904.0,7468.0,Jacksonville
3,129.0,no,no,0.0,159.1,100.0,27.05,202.5,90.0,17.21,233.1,96.0,10.49,2.0,0,305.0,4979.0,Miami1
4,120.0,no,yes,28.0,215.8,123.0,36.69,285.2,76.0,24.24,192.1,78.0,8.64,1.0,0,239.0,9620.0,Cape Coral
5,108.0,no,no,0.0,210.7,112.0,35.82,238.7,73.0,20.29,253.6,90.0,11.41,3.0,0,786.0,1688.0,Miami2
6,109.0,no,no,0.0,180.0,100.0,30.60,229.0,103.0,19.47,139.4,105.0,6.27,3.0,0,305.0,2653.0,Miami1
7,107.0,no,no,0.0,189.7,76.0,32.25,156.1,65.0,13.27,244.0,91.0,10.98,5.0,0,407.0,1399.0,Orlando2
8,74.0,no,no,0.0,282.5,114.0,48.03,219.9,48.0,18.69,170.0,115.0,7.65,1.0,1,239.0,6837.0,Cape Coral
9,28.0,no,no,0.0,168.2,87.0,28.59,161.7,92.0,13.74,192.4,112.0,8.66,3.0,0,904.0,5223.0,Jacksonville

### 2 Überprüfung und Reingung von Daten <br>

#### -> 2 Checking and cleaning the data

In [16]:
# checking data
print('shape:')
display(df.shape)
print('\ndtypes:')
display(df.dtypes)
print('\ndescribe:')
display(df.describe())
print('\nisna().sum()')
# checking for missing data
display(df.isna().sum())
# get overview what is excactly missing
print('\n missing vmail_messages \n')
display(df.query('number_vmail_messages.isna()'))
print('\n missing total_day_calls \n')
display(df.query('total_day_calls.isna()'))
print('\n missing total_eve_calls \n')
display(df.query('total_eve_calls.isna()'))
print('\n missing total_eve_calls \n')
display(df.query('total_night_calls.isna()'))
# it seems the number of calls do not influence the charge and for now i will set the NaN values to 0 for now 
# (maybe median later)

print('\ncustomer_service_calls.unique()')
# checking for customer service calls because there were some negative calls in the .describe above
display(df['customer_service_calls'].unique())
# TODO: change negative calls to zeroes
print('\ncity.unique()')
# checking for different cities
display(df['city'].unique())

# will combine miami1 and miami2 into a single miami, same with orlando
# Miami, FL is officially utilizing an area code overlay in which area codes 305 and 786 serve the same geographic area.

shape:

(3333, 18)

dtypes:

account_length            float64
international_plan         object
voice_mail_plan            object
number_vmail_messages     float64
total_day_minutes         float64
total_day_calls           float64
total_day_charge          float64
total_eve_minutes         float64
total_eve_calls           float64
total_eve_charge          float64
total_night_minutes       float64
total_night_calls         float64
total_night_charge        float64
customer_service_calls    float64
churn                       int64
local_area_code           float64
phone_num                 float64
city                       object
dtype: object

describe:

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,customer_service_calls,churn,local_area_code,phone_num
count,3333.000000,3311.000000,3333.000000,3322.000000,3333.000000,3333.000000,3325.000000,3333.000000,3333.000000,3328.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,8.152824,179.883168,100.407586,30.562307,200.980348,100.105564,17.083540,200.872037,100.115385,9.039325,1.531053,0.144914,599.222022,5547.215122
std,39.822106,13.717793,54.858487,20.046875,9.259435,50.713844,19.903150,4.310668,50.573847,19.554581,2.275873,1.352384,0.352067,252.702648,2600.934794
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,-2.000000,0.000000,239.000000,1000.000000
25%,74.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,1.000000,0.000000,321.000000,3285.000000
50%,101.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,1.000000,0.000000,561.000000,5587.000000
75%,127.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,2.000000,0.000000,850.000000,7737.000000
max,243.000000,51.000000,448.600000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,9.000000,1.000000,941.000000,9999.000000

isna().sum()

account_length             0
international_plan         0
voice_mail_plan            0
number_vmail_messages     22
total_day_minutes          0
total_day_calls           11
total_day_charge           0
total_eve_minutes          0
total_eve_calls            8
total_eve_charge           0
total_night_minutes        0
total_night_calls          5
total_night_charge         0
customer_service_calls     0
churn                      0
local_area_code            0
phone_num                  0
city                       0
dtype: int64

 missing vmail_messages

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,customer_service_calls,churn,local_area_code,phone_num,city
74,85.0,no,no,NaN,209.8,82.0,35.67,194.5,94.0,16.53,200.4,85.0,9.02,0.0,0,786.0,5826.0,Miami2
118,119.0,no,no,NaN,230.4,117.0,39.17,225.0,101.0,19.13,198.5,111.0,8.93,3.0,0,305.0,4795.0,Miami1
151,93.0,no,no,NaN,164.9,68.0,28.03,210.4,86.0,17.88,229.4,104.0,10.32,2.0,0,904.0,9710.0,Jacksonville
228,45.0,no,no,NaN,112.8,108.0,19.18,218.8,120.0,18.60,240.2,106.0,10.81,2.0,0,407.0,9501.0,Orlando2
408,118.0,no,no,NaN,205.2,115.0,34.88,184.8,137.0,15.71,176.1,115.0,7.92,0.0,0,786.0,4509.0,Miami2
683,25.0,no,no,NaN,264.9,80.0,45.03,281.2,66.0,23.90,166.1,80.0,7.47,1.0,1,386.0,4600.0,Daytona Beach
916,93.0,no,no,NaN,114.3,100.0,19.43,221.1,103.0,18.79,126.3,88.0,5.68,0.0,0,305.0,3880.0,Miami1
1055,31.0,no,no,NaN,166.1,105.0,28.24,79.3,93.0,6.74,213.7,98.0,9.62,1.0,0,386.0,7917.0,Daytona Beach
1267,111.0,no,no,NaN,78.3,119.0,13.31,198.2,94.0,16.85,248.5,94.0,11.18,1.0,0,904.0,3949.0,Jacksonville
1316,127.0,no,no,NaN,221.0,100.0,37.57,160.7,113.0,13.66,233.1,96.0,10.49,2.0,0,239.0,2931.0,Cape Coral
1417,100.0,no,no,NaN,216.2,107.0,36.75,215.6,84.0,18.33,138.4,127.0,6.23,0.0,0,305.0,6255.0,Miami1
1479,145.0,no,no,NaN,175.8,89.0,29.89,274.3,119.0,23.32,226.6,69.0,10.20,1.0,0,561.0,7003.0,West Palm Beach
1701,127.0,no,no,NaN,139.6,94.0,23.73,240.9,112.0,20.48,127.1,88.0,5.72,2.0,0,321.0,9462.0,Orlando1
1866,181.0,no,no,NaN,143.3,91.0,24.36,195.5,58.0,16.62,223.3,95.0,10.05,1.0,0,941.0,9200.0,Sarasota
1973,55.0,no,no,NaN,132.0,103.0,22.44,279.6,114.0,23.77,180.0,74.0,8.10,0.0,0,561.0,6556.0,West Palm Beach
2177,142.0,no,no,NaN,216.8,134.0,36.86,187.8,106.0,15.96,138.1,108.0,6.21,0.0,0,305.0,1009.0,Miami1
2293,109.0,no,no,NaN,193.6,58.0,32.91,148.7,115.0,12.64,282.5,105.0,12.71,2.0,0,941.0,4967.0,Sarasota
2323,151.0,no,no,NaN,118.9,128.0,20.21,278.3,65.0,23.66,194.8,61.0,8.77,2.0,0,727.0,3840.0,Clearwater
2537,103.0,no,no,NaN,173.5,83.0,29.50,244.3,65.0,20.77,221.6,66.0,9.97,3.0,0,239.0,6330.0,Cape Coral
2589,169.0,no,no,NaN,179.2,111.0,30.46,175.2,130.0,14.89,228.6,92.0,10.29,2.0,0,904.0,3289.0,Jacksonville
2939,88.0,no,no,NaN,166.7,61.0,28.34,179.3,88.0,15.24,242.7,131.0,10.92,4.0,1,239.0,3286.0,Cape Coral
3254,50.0,no,no,NaN,183.6,107.0,31.21,58.6,118.0,4.98,202.6,99.0,9.12,1.0,0,727.0,8331.0,Clearwater

 missing total_day_calls

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,customer_service_calls,churn,local_area_code,phone_num,city
235,99.0,no,no,0.0,146.7,NaN,24.94,274.0,99.0,23.29,321.3,98.0,14.46,3.0,0,727.0,8824.0,Clearwater
355,149.0,no,no,0.0,196.3,NaN,33.37,136.8,96.0,11.63,154.7,87.0,6.96,2.0,0,407.0,5930.0,Orlando2
445,130.0,no,no,0.0,154.2,NaN,26.21,110.2,98.0,9.37,227.4,117.0,10.23,2.0,0,813.0,4195.0,Tampa
661,27.0,no,no,0.0,201.2,NaN,34.20,227.2,100.0,19.31,145.8,91.0,6.56,2.0,0,239.0,6515.0,Cape Coral
754,120.0,no,yes,27.0,128.5,NaN,21.85,163.7,91.0,13.91,242.9,121.0,10.93,1.0,0,850.0,5083.0,Tallahassee
1888,95.0,no,no,0.0,149.2,NaN,25.36,260.7,116.0,22.16,201.0,120.0,9.05,1.0,0,407.0,7803.0,Orlando2
2224,55.0,no,no,0.0,175.6,NaN,29.85,161.8,118.0,13.75,289.5,55.0,13.03,0.0,0,904.0,6109.0,Jacksonville
2259,117.0,no,no,0.0,168.8,NaN,28.70,241.4,107.0,20.52,204.8,106.0,9.22,0.0,0,305.0,2716.0,Miami1
3235,44.0,no,no,0.0,204.6,NaN,34.78,205.2,94.0,17.44,164.6,84.0,7.41,0.0,0,904.0,4146.0,Jacksonville
3304,89.0,no,no,0.0,129.2,NaN,21.96,214.1,68.0,18.20,214.9,100.0,9.67,5.0,1,321.0,2016.0,Orlando1
3320,58.0,no,no,0.0,131.9,NaN,22.42,167.6,107.0,14.25,205.9,106.0,9.27,3.0,0,407.0,1134.0,Orlando2

 missing total_eve_calls

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,customer_service_calls,churn,local_area_code,phone_num,city
132,68.0,no,no,0.0,219.6,97.0,37.33,141.1,NaN,11.99,205.7,101.0,9.26,2.0,0,239.0,8369.0,Cape Coral
907,98.0,no,no,0.0,0.0,0.0,0.00,159.6,NaN,13.57,167.1,88.0,7.52,4.0,1,786.0,2555.0,Miami2
1446,243.0,no,no,0.0,95.5,92.0,16.24,163.7,NaN,13.91,264.2,118.0,11.89,2.0,0,850.0,9360.0,Tallahassee
2112,195.0,no,yes,36.0,231.7,110.0,39.39,225.1,NaN,19.13,201.7,89.0,9.08,0.0,0,850.0,7843.0,Tallahassee
2282,51.0,no,no,0.0,181.5,108.0,30.86,196.9,NaN,16.74,187.2,119.0,8.42,1.0,0,727.0,2454.0,Clearwater
2591,100.0,yes,no,0.0,68.5,110.0,11.65,337.1,NaN,28.65,205.2,99.0,9.23,0.0,0,904.0,2455.0,Jacksonville
2826,111.0,no,no,0.0,176.4,62.0,29.99,201.0,NaN,17.09,150.4,138.0,6.77,0.0,0,239.0,7863.0,Cape Coral
2878,78.0,no,yes,21.0,160.6,85.0,27.30,223.1,NaN,18.96,124.0,92.0,5.58,2.0,0,941.0,8915.0,Sarasota

 missing total_eve_calls

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,customer_service_calls,churn,local_area_code,phone_num,city
587,79.0,no,no,0.0,177.9,83.0,30.24,167.3,84.0,14.22,223.7,NaN,10.07,0.0,0,850.0,8807.0,Tallahassee
915,133.0,no,no,0.0,187.0,65.0,31.79,141.4,128.0,12.02,238.2,NaN,10.72,2.0,0,786.0,3161.0,Miami2
1398,85.0,no,yes,27.0,196.4,139.0,33.39,280.9,90.0,23.88,89.3,NaN,4.02,1.0,0,727.0,8884.0,Clearwater
2054,38.0,no,yes,36.0,115.4,98.0,19.62,166.2,83.0,14.13,184.7,NaN,8.31,2.0,0,239.0,9947.0,Cape Coral
2966,98.0,no,no,0.0,217.2,121.0,36.92,303.4,73.0,25.79,197.1,NaN,8.87,0.0,1,239.0,2242.0,Cape Coral

customer_service_calls.unique()

array([ 2.,  1.,  0.,  3.,  5., -2.,  4.,  8.,  6., -1.,  9.,  7.])

city.unique()

array(['Tallahassee', 'Miami2', 'Jacksonville', 'Miami1', 'Cape Coral',
       'Orlando2', 'West Palm Beach', 'Tampa', 'Sarasota',
       'Daytona Beach', 'Orlando1', 'Clearwater'], dtype=object)